.hintCard {
  padding: 24px;
  border-radius: 8px;
  box-shadow:
    0 10 15 -3 var(--neutral-500),
    0 4 6 -4 var(--neutral-500);
  background: linear-gradient(0deg, #4f46e5 0%, #6d28d9 100%);
  color: var(--white);
}

.hintCard--header {
  font-size: 16px;
  padding: 18px 0;
}

.hintCard--text {
  font-size: 12px;
  padding-bottom: 18px;
}
