.statistics-card {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border: 1px solid var(--neutral-100);
  border-radius: 12px;
  width: 300px;
}

.statistics-card__content {
  display: flex;
  flex-direction: column;
}

.statistics-card__title {
  color: var(--neutral-500);
  padding-bottom: 8px;
  font-size: 12px;
}

.statistics-card__number {
  color: var(--neutral-900);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.statistics-card__desc {
  font-size: 10px;
}

.statistics-card__desc.positive {
  color: var(--success-600);
}

.statistics-card__desc.negative {
  color: var(--danger-600);
}

.statistics-card__image-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background-color: rgba(var(--bg-color), 0.1);
  padding: 24px;
}

.statistics-card__image svg {
  width: 20px;
  height: 20px;
  display: block;
}
