:root {
    --white: #FFFFFF;
    --primary-50: #EEF2FF;
    --primary-100: #E0E7FF;
    --primary-200: #C7D2FE;
    --primary-500: #6366F1;
    --primary-600: #4F46E5;
    --primary-700: #4338CA;

    --success-50: #ECFDF5;
    --success-500: #10B981;
    --success-600: #059669;

    --warning-50: #FFFBEB;
    --warning-500: #F59E0B;
    --warning-600: #D97706;

    --danger-50: #FFF1F2;
    --danger-100: #FFE4E6;
    --danger-200: #FECDD3;
    --danger-500: #F43F5E;
    --danger-600: #E11D48;
    --danger-700: #BE123C;

    --neutral-50: #F8FAFC;
    --neutral-100: #F1F5F9;
    --neutral-200: #E2E8F0;
    --neutral-300: #CBD5E1;
    --neutral-400: #94A3B8;
    --neutral-500: #64748B;
    --neutral-700: #334155;
    --neutral-800: #1E293B;
    --neutral-900: #0F172A;
}