.sidebar {
    background: #f3f3f3;
    width: 100%;
    height: 100%;
    padding: 12px;
}

.sidebar__header {
    padding-bottom: 12px;
}

.sidebar__input {
    background-color: white;
    padding: 4px;
    margin: 0 8px 8px 0;
}