.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__top {
  display: flex;
  flex: 1; /* zajmuje całą wysokość oprócz footer */
}

.layout__content {
  flex: 1; /* outlet bierze resztę miejsca */
  min-width: 0; /* ważne żeby content się nie wypychał */
}
